<strong> Dear {{ deliveryPerson }}</strong>
<p> We regret to inform you that the delivery for the package {{packageId}} has been canceled.</p>
<p>If the package is in your possession, please return it back to the pick up point. </p>
<p>Otherwise, no further action will be needed. </p>
